:root {
  --mainColor: #4467ad;
  --darkBG: #21252b;
  --lightBG: #333842;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-family: Montserrat, "roboto", arial;
}
body,
html {
  /* height: 100vh; */
  overflow: hidden;
}
body {
  background-color: #f2f3f8;
}
::selection {
  background-color: rgba(255, 255, 255, 0.2);
}
.app {
  display: grid;
  grid-template-columns: 400px auto 246px;
}

/* shared styles */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button,
select {
  -webkit-appearance: none;
}
input::placeholder {
  color: rgba(255, 255, 255, 0.3);
}
input {
  background-color: transparent;
  color: #fff;
  font-weight: 400;
  font-size: 15px;
}
input:focus {
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.2);
}
input[type="checkbox"],
input[type="color"],
input[type="radio"] {
  display: none;
}
.clickable {
  cursor: pointer;
}
.default_value {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 10px;
  background-color: var(--darkBG);
  height: 100%;
  border: 3px solid var(--lightBG);
  border-radius: 6px;
  color: rgba(255, 255, 255, 0.4);
  display: flex;
  align-items: center;
}
